DATABASE_URL=postgresql+psycopg2://postgres:change_me@127.0.0.1:5432/sentineldb
SENTINEL_DB_KEY=change_me_to_64_hex_characters
SENTINEL_ADMIN_USERNAME=admin
SENTINEL_ADMIN_PASSWORD=change_me
SENTINEL_NORMAL_PASSWORD=change_me
NORMAL_BOT_INTERVAL_MIN=3
NORMAL_BOT_INTERVAL_MAX=7
ATTACK_BOT_INTERVAL_MIN=10
ATTACK_BOT_INTERVAL_MAX=20
